<!DOCTYPE html>
<html>
<head>
    <title>Vue Demonstration</title>
    <script src="https://unpkg.com/vue"></script>
    <!-- development version, includes helpful console warnings -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="scripts\main-script.js"></script>
    <link rel="stylesheet" type="text/css" href="styles\main.css" />

</head>
<body>
    <div id="main-title"></div>
    <div id="article">

    <div id="app">
        {{ message }}
    </div>
    <div id="app-2">
        <span v-bind:title="message">
            Hover your mouse over me for a few seconds
            to see my dynamically bound title!
        </span>
    </div>
    <div id="app-3">
        <span v-if="seen">Now you see me</span>
    </div>
    <div id="app-4">
        <ol>
            <li v-for="todo in todos">
                {{ todo.banana }}
            </li>
        </ol>
    </div>
    <div id="app-5">
        <p>{{ message }}</p>
        <button v-on:click="reverseMessage">Reverse Message</button>
    </div>
    <div id="app-6">
        <p>{{ message }}</p>
        <input v-model="message">
    </div>
    <div id="app-7">
        <ol>
            <!-- 
                Now we provide each tod-item with the todo object 
                it's representing, so that its content can be dynamic. 
                We also need to provide each component with a "key", 
                which will be explained later.  
            -->
            <todo-item 
                v-for="item in groceryList"
                v-bind:todo="item"
                v-bind:key="item.id"
            ></todo-item>
        </ol>
    </div>

</div>


<script>
    var app = new Vue({
        el: '#app',
        data: {
            message: 'This is working!!'
        }
    })
    var app2 = new Vue({
        el: '#app-2', 
        data: {
            message: 'Some new message on ' + new Date().toLocaleString()
        }
    })
    var app3 = new Vue({
	    el: '#app-3', 
	    data: {
		    seen: false
	    }
    })
    var app4 = new Vue({
    	el: '#app-4', 
    	data: {
    		todos: [
    			{ banana: 'Learn JavaScript' },
    			{ banana: 'Learn Vue' },
                { banana: 'Build something awesome' },
                { banana: 'New item' }
    		]
	    }
    })
    var app5 = new Vue({
    	el: '#app-5',
    	data: {
    		message: 'Hello Vue.js!'
    	},
	    methods: {
		    reverseMessage: function () {
			    this.message = this.message.split('').reverse().join('')
		    }
	    }
    })
    var app6 = new Vue({
    	el: '#app-6',
    	data: {
	    	message: 'Hello Vue!'
	    }
    })
    // Define a new componenet called todo-item
    Vue.component('todo-item', {
        // The todo-item component now accepts a
        // "prop", which is like a custom attribute.
        // This prop is called todo.
        props: ['todo'],
    	template: '<li>{{ todo.text }}</li>'
    })

    var app7 = new Vue({
        el: '#app-7',
        data: {
            groceryList: [
                { id: 0, text: 'Vegetables' }, 
                { id: 1, text: 'Cheese' }, 
                { id: 2, text: 'Whatever else humans are supposed to eat' }
            ]
        }
    })



</script>
    
</body>
</html>
